{{!--<!--
SPDX-FileCopyrightText: 2022 Ethaks <ethaks@pm.me>
SPDX-License-Identifier: EUPL-1.2
-->--}}
<form autocomplete="off">
    <div>
        {{!-- MSB --}}
        <div class="form-group">
            <label for="msbAbility">{{ localize "PF1SPHERES.CastingAbility" }}</label>
            <div class="form-fields">
                <select id="castingAbility"
                        name="flags.pf1spheres.castingAbility"
                        data-dtype="String">
                    {{#select pf1sFlags.castingAbility }}
                    <option value="">
                    </option>
                    {{#each PF1CONFIG.abilities as |label value|}}
                        <option value="{{ value }}">
                            {{ label }}
                        </option>
                    {{/each }}
                {{/select }}
            </select>
        </div>
        <p class="notes">
            {{ localize "PF1SPHERES.Settings.CastingAbilityNote" }}
        </p>
    </div>
</div>
</form>
